{% import 'layout.html' as layout with context -%}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css" />

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js"></script>

    <style>
	.menu-fix{
		margin-top: 30px;
	}
    </style>

    <script>
        $(document).ready(function() {
          // create sidebar and attach to menu open
          $('.ui.sidebar').sidebar('attach events', '.toc.item');
          // show nag (flash) messages
          $('.cookie.nag').nag('show');
        });

    </script>

    {% endblock %}
</head>
<body class="pushable">
    {{ layout.mobile_menu() }}
    <div class="pusher">
        <div class="ui inverted vertical masthead segment">
            {{ layout.menu() }}
        </div>
 	<div class='menu-fix'></div>       
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="ui inline cookie nag" style="margin-top: -30px; margin-bottom: 15px;">
                <span class="title">{{ message }}</span>
                <i class="close icon"></i>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

        {{ layout.footer() }}
    </div>
</body>
</html>

